<div class="report-builder-tab">
  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'analysis.select_survey' | translate }}</mat-label>
      <mat-select [(ngModel)]="selectedFormId" (selectionChange)="onFormChange()">
        <mat-option [value]="null">{{ 'analysis.all_surveys' | translate }}</mat-option>
        <mat-option [value]="form.id" *ngFor="let form of forms">{{ form.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'analysis.date_from' | translate }}</mat-label>
      <input matInput type="date" [(ngModel)]="dateFrom" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'analysis.date_to' | translate }}</mat-label>
      <input matInput type="date" [(ngModel)]="dateTo" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'analysis.filter_status' | translate }}</mat-label>
      <mat-select [(ngModel)]="statusFilter" multiple>
        <mat-option value="published">{{ 'analysis.status_published' | translate }}</mat-option>
        <mat-option value="draft">{{ 'analysis.status_draft' | translate }}</mat-option>
        <mat-option value="archived">{{ 'analysis.status_archived' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'analysis.filter_tags' | translate }}</mat-label>
      <mat-select [(ngModel)]="tagsFilter" multiple>
        <mat-option [value]="category.id" *ngFor="let category of categories">
          {{ category.tag }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div #reportContainer>
    <div class="chart-config" *ngFor="let chart of charts; let i = index">
      <h3>{{ 'analysis.chart_label' | translate : { number: i + 1 } }}</h3>

      <div class="chart-config__controls">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'analysis.group_by' | translate }}</mat-label>
          <mat-select [(ngModel)]="chart.group_by">
            <mat-option value="status">{{ 'analysis.status' | translate }}</mat-option>
            <mat-option value="form">{{ 'analysis.survey' | translate }}</mat-option>
            <mat-option value="tags">{{ 'analysis.categories' | translate }}</mat-option>
            <mat-option value="county">{{ 'analysis.county' | translate }}</mat-option>
            <mat-option value="district">{{ 'analysis.district' | translate }}</mat-option>
            <mat-option value="attribute" [disabled]="!surveyFields.length">
              {{ 'analysis.attribute' | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="chart.group_by === 'attribute'">
          <mat-label>{{ 'analysis.attribute_key' | translate }}</mat-label>
          <mat-select [(ngModel)]="chart.group_by_attribute_key">
            <mat-option [value]="field.key" *ngFor="let field of surveyFields">
              {{ field.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'analysis.chart_type' | translate }}</mat-label>
          <mat-select [(ngModel)]="chart.chart_type">
            <mat-option value="bar">{{ 'analysis.chart_bar' | translate }}</mat-option>
            <mat-option value="pie">{{ 'analysis.chart_pie' | translate }}</mat-option>
            <mat-option value="line">{{ 'analysis.chart_line' | translate }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button
          mat-icon-button
          type="button"
          [attr.aria-label]="'analysis.remove_chart' | translate"
          [disabled]="charts.length === 1"
          (click)="removeChart(i)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="chart-cover" *ngIf="hasPreviewed">
        <ng-container [ngSwitch]="chart.chart_type">
          <ngx-charts-bar-vertical
            *ngSwitchCase="'bar'"
            [scheme]="colorScheme"
            [results]="chart.data"
            [xAxis]="true"
            [yAxis]="true"
          ></ngx-charts-bar-vertical>
          <ngx-charts-pie-chart
            *ngSwitchCase="'pie'"
            [scheme]="colorScheme"
            [results]="chart.data"
            [labels]="true"
          ></ngx-charts-pie-chart>
          <ngx-charts-line-chart
            *ngSwitchCase="'line'"
            [scheme]="colorScheme"
            [results]="chartSeries(chart)"
            [xAxis]="true"
            [yAxis]="true"
            [autoScale]="true"
          ></ngx-charts-line-chart>
        </ng-container>
      </div>
    </div>
  </div>

  <button mat-stroked-button type="button" class="add-chart-btn" (click)="addChart()">
    {{ 'analysis.add_chart' | translate }}
  </button>

  <div class="actions">
    <mat-form-field appearance="outline" *ngIf="templates.length">
      <mat-label>{{ 'analysis.load_template' | translate }}</mat-label>
      <mat-select (selectionChange)="applyTemplate($event.value)">
        <mat-option [value]="template.id" *ngFor="let template of templates">
          {{ template.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="preview()">
      {{ 'analysis.preview' | translate }}
    </button>
    <button mat-stroked-button [disabled]="!hasPreviewed" (click)="saveAsTemplate()">
      {{ 'analysis.save_as_template' | translate }}
    </button>
    <button mat-stroked-button type="button" [disabled]="!hasPreviewed" (click)="exportPdf()">
      {{ 'analysis.export_pdf' | translate }}
    </button>
    <button mat-stroked-button type="button" *ngIf="hasLocationChart" (click)="showMap = !showMap">
      {{ (showMap ? 'analysis.hide_map' : 'analysis.show_map') | translate }}
    </button>
  </div>

  <app-analysis-report-map
    *ngIf="showMap && hasPreviewed"
    [charts]="charts"
  ></app-analysis-report-map>
</div>
