<div class="report-builder-tab">
  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'analysis.select_survey' | translate }}</mat-label>
      <mat-select [(ngModel)]="selectedFormId" required>
        <mat-option [value]="form.id" *ngFor="let form of forms">{{ form.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'analysis.date_from' | translate }}</mat-label>
      <input matInput type="date" [(ngModel)]="dateFrom" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'analysis.date_to' | translate }}</mat-label>
      <input matInput type="date" [(ngModel)]="dateTo" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'analysis.filter_status' | translate }}</mat-label>
      <mat-select [(ngModel)]="statusFilter" multiple>
        <mat-option value="published">{{ 'analysis.status_published' | translate }}</mat-option>
        <mat-option value="draft">{{ 'analysis.status_draft' | translate }}</mat-option>
        <mat-option value="archived">{{ 'analysis.status_archived' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'analysis.filter_tags' | translate }}</mat-label>
      <mat-select [(ngModel)]="tagsFilter" multiple>
        <mat-option [value]="category.id" *ngFor="let category of categories">
          {{ category.tag }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      [disabled]="!selectedFormId || isLoading"
      (click)="loadData()"
    >
      {{ 'analysis.load_data' | translate }}
    </button>
  </div>

  <p class="data-status" *ngIf="hasLoadedData">
    {{ 'analysis.data_status' | translate : { loaded: loadedCount, total: totalCount } }}
    <span class="data-status__truncated" *ngIf="isTruncated">
      {{ 'analysis.data_truncated' | translate }}
    </span>
  </p>

  <div class="pivot-panel" *ngFor="let pivot of pivots; let i = index">
    <div class="pivot-panel__header">
      <h3>{{ 'analysis.pivot_label' | translate : { number: i + 1 } }}</h3>
      <button
        mat-icon-button
        type="button"
        [attr.aria-label]="'analysis.remove_pivot' | translate"
        [disabled]="pivots.length === 1"
        (click)="removePivot(i)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <app-wbr-pivot
      [toolbar]="true"
      [height]="500"
      [report]="pivot.initialReport"
      (ready)="onPivotReady($event, pivot.id)"
    ></app-wbr-pivot>
  </div>

  <div class="actions">
    <button mat-stroked-button type="button" (click)="addPivot()">
      {{ 'analysis.add_pivot' | translate }}
    </button>

    <mat-form-field appearance="outline" *ngIf="templates.length">
      <mat-label>{{ 'analysis.load_template' | translate }}</mat-label>
      <mat-select (selectionChange)="applyTemplate($event.value)">
        <mat-option [value]="template.id" *ngFor="let template of templates">
          {{ template.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-stroked-button [disabled]="!hasLoadedData" (click)="saveAsTemplate()">
      {{ 'analysis.save_as_template' | translate }}
    </button>
    <button
      mat-stroked-button
      type="button"
      [disabled]="!hasLoadedData"
      (click)="showMap = !showMap"
    >
      {{ (showMap ? 'analysis.hide_map' : 'analysis.show_map') | translate }}
    </button>
  </div>

  <app-analysis-report-map
    *ngIf="showMap && hasLoadedData"
    [countyData]="countyData"
    [districtData]="districtData"
  ></app-analysis-report-map>
</div>
