<div class="rename-template-dialog">
  <h2>{{ 'analysis.edit' | translate }}</h2>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'analysis.template_name' | translate }}</mat-label>
    <input matInput [formControl]="nameControl" />
  </mat-form-field>

  <div class="actions">
    <button mat-stroked-button (click)="cancel()">{{ 'app.cancel' | translate }}</button>
    <button mat-flat-button color="primary" (click)="save()">
      {{ 'app.save' | translate }}
    </button>
  </div>
</div>
