.analysis-report-map-wrapper {
  &__toggle {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
  }
}

.analysis-report-map {
  height: 420px;
  margin-bottom: 16px;
  border-radius: 8px;
  overflow: hidden;
}
